header.header
	.container
		.header-container
			a(href="./").header__logo
				img(src="./assets/logo.svg", alt="LoremIpsum.Net") 
			nav.header-nav 
				a.header-nav__link.active(href="#") Бизнес
				a.header-nav__link(href="#") О нас
				a.header-nav__link(href="#") Цены
				a.header-nav__link(href="#") Оформить заказ




