.mobile-menu
	.container 
		.mobile-menu-container
			a.header-nav__link.active(href="#") Бизнес
			a.header-nav__link(href="#") О нас
			a.header-nav__link(href="#") Цены
			a.header-nav__link(href="#") Оформить заказ